@media (max-width: 1200px) {
	.header-left a img {
		margin-left: 35%;
	}
}

@media (max-width: 768px) {
	.header-left a img {
		margin-left: 40%;
		margin-right:40%;
	}
}

@media (max-width: 480px) {
	.header-left a img {
		margin-left: 30%;
		margin-right:50%;
	}
}


body {
	font-family: 'Sintony', sans-serif;
	position: relative;
}

.navbar-toggle .icon-bar {
    background-color: black;
}

#home {
	margin-top: 60px;
}

.home-bg {
	background-image: url("../img/background.png");
	background-size: cover;
	min-height:630px;
	position: relative;
}

p {
	color: red;
}

.header-left {
	/*width:20% ;*/
	background-color: #63C6AE;
	float: left;
	padding: 20px 50px 10px 90px;
}

.header-right {
	/*width: 80%;*/
	background: #ffffff;
	padding-bottom: 4px;
}


.navbar-left {
	margin-top: 15px;
	padding-left: 20px;

}

.nav>li>a {
	color: #777;
}

.nav>li>a:hover, .nav>li>a:focus, .nav>li>a:active {
	color : #63C6AE;
	background-color: #fff;
}

.nav>li.active>a {
	color : #63C6AE;
	background-color: #fff;
}

.navbar-nav>li>a {
	padding-left: 15px;
}

.header {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 2px solid #777;
}

.heading-info {
	margin-top: 200px;
}

.heading-info h2 {
	font-size: 30px;
	color: #fff;
	background: #63C6AE;
	padding: 22px 7px;
	margin:0 auto;
	width: 85%
}

.heading-info p {
	color: #fff;
	width: 70%;
	background-color: #242A2D;
	padding: 25px 20px;
	margin:10px auto 40px;
	font-size: 14px;
}

.heading-info a {
	font-size: 18px;
	background-color: #777;
	color: #fff;
	border: 3px solid #777;
	border-radius: 5px;
	padding: 12px 20px;
	margin-bottom: 50px;

}

.heading-info a:hover, .heading-info a:active, .heading-info a:focus  {
	background: #000;
	text-decoration: none;
	transition: all 0.6s linear 0s;
}

.arrow {
	position: absolute;
	bottom: 0%;
	left: 47%;
}

@media (max-width :1280px) {
	.arrow img {
		width: 72%;
	}

}

/* Posts section */
#posts {
	margin-top: 60px;
}

.posts-row {
	margin-bottom: 70px;
}


.posts-space {
	padding: 7px;
	border: 2px solid #f2eded;
}

.posts-space:hover {
	padding:0;
	border: 9px solid #63C6AE;
}

.grid-desc {
	padding: 10px 18px;
}

.grid-desc p {
	color: #777;
}

.grid-desc h3 {
	padding-top: 20px;
	font-size: 20px;

}

.single-grid img {
	width: 100%;
}

.profile-image img {
	position: absolute;
	top: 30%;
	left: 28%;
	height: 91px;
	width: 91px;
	border-radius: 50px;
}

#about {
	background-color: #f8f8f8;
	margin-bottom: 0px;
	border-top: 1px solid #f2f2f2;
}

.about-desc {
	padding: 60px 10px;
}

.about-desc h3 {
	line-height: 1.6;
	font-size: 18px;
	color: #666;

}

.about-desc p{
	line-height: 1.8;
	font-size: 15px;
	color: #777;

}

.btn-lg {
	padding: 12px 25px;
}

.green {
	color: #fff;
	background-color: #63C6AE;
}

.green:hover {
	background-color: #455357;
	color: #fff;
	transition: all 0.6s linear 0s;
}

.blue {
	margin-left: 12px;
	color: #fff;
	background-color: #455357;
}

.blue:hover {
	background-color: #63C6AE;
	color: #fff;
	transition: all 0.6s linear 0s;
}

.btn-top-space {
	margin-top: 25px;
}

/*Latest Articles*/
#articles {

}

.latest {
	margin-top: 0;
	background-color: #63C6AE;
}

.latest h3 {
	color: #fff;
	padding: 7px;
}

.pics {
	width: 100%;
	opacity: 0.9;
	border: 1px solid #000;
}

.article-pics {
	padding: 0;
	/*margin:0;*/
}


.img-overlay {
	position:relative;
}


.text-overlay {
	position: absolute;
	top: 66%;
	visibility: hidden;
	background-color: #242A2D;
	color: #fff;
	padding: 20px 20px;
	margin:0;
	
	

}

.img-overlay:hover .text-overlay {
	visibility: visible;
	transition: all 0.6s linear 0s;
	
}


/*.carouse1  {
	background-color: #242A2D;
	height: 350px;
	
}*/

.carouse1 {
	background-color: #242A2D;
	height: 650px;
}

@media (max-width: 1200px) {
	.carouse1 {
	height: 570px;
	}
}

@media (max-width: 990px) {
	.carouse1 {
	height: 450px;
	}
}

@media (max-width: 768px) {
	.carouse1 {
	height: 450px;
	}
}

.carleft img {
	margin:0 auto;
}

.topmargin {
	margin-top: 10%;
}

.unknown-bg {
	background-color: #ffffff;
	min-height: 530px;
	
}

.left-column {
	background-color: #f8f8f8;
	min-height: 630px;
	padding: 120px 0 0 0;
}

.left-column ul {
	margin-left: 120px;

}

.left-column ul li {
	display: block;
	padding-bottom: 30px;
}

.left-column ul li a {
	color: #444e52;
	font-weight:bold;
}

.left-column ul li a:hover{
	text-decoration: none;
	color: #63C6AE;
}

.right-column {
	
	padding: 75px 0px 50px 30px;
}

.images {
	margin: 0;

}

.image-grid {
	padding: 5px;
	margin: 0;

}

.image-grid img:hover {
	opacity:0.7;
}

.quotes-bg {
	background-color: #63C6AE;
	height: 350px;
}

.quote-arrow {
	position: absolute;
	top: 10%;
	height: 100%;
}

.quote-arrow {
	position: absolute;
	top: 10%;
	height: 100%;
}

.left-arrow, .right-arrow {
	position: absolute;
	top: 50%;
}

.item blockquote {	
	font-size: 25px;
	margin-left:0;
	border-left: 0px;
	margin-top: 13%;
}

.item blockquote p {
	color: #fff;
}

.item blockquote small {
	margin-bottom: 25px;
}

.carousel-control.left {
	background-image: none;
}

.carousel-control.right {
	background-image: none;
}


.footer1 {
	min-height: 370px;
	background-color: #242a2c;
	padding: 60px 0px 120px 30px;
}

.footer-top {
	padding-bottom: 30px;
}

.footer-top p, .footer-top  h3 {
	color:#66777c;
}

.nospace li {
	padding-bottom: 12px;
}

.nospace li a{
	color: #66777c;
	font-weight: bold;
}

.nospace li a:hover {
	text-decoration: none;
	color: #63C6AE;
}

.mytabs {
	padding-top: 72px; 
	padding-left: 50px;
}

.nav-pills>li>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	color: #777;
	background-color: #f8f8f8;
}

.nav-pills>li>a:hover, .nav-pills>li>a:active, .nav-pills>li.active>a:hover, .nav-pills>li.active>a {
	color: #63C6AE !important;
	background-color: #f8f8f8;
}

.mytabs-left {
	background-color: #f8f8f8;
	padding:81px 15px 245px 75px;
}

.mytabs-left li a {
	color: #444e52;
	font-weight: bold;
	line-height: 35px;
}

.tab-pane img {
	margin-right: 15px;
	margin-bottom: 20px;
}

.tab-pane img:hover {
	opacity: 0.7;
}